# ============================
# IntelliJ IDEA
# ============================
.idea/
*.iml

# ============================
# Java Compiled Files
# ============================
*.class

# ============================
# Maven / Gradle Build Output
# ============================
target/
build/

# ============================
# Logs
# ============================
*.log

# ============================
# Package Files
# ============================
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# ============================
# JVM Crash Logs
# ============================
hs_err_pid*
replay_pid*

